<form class="login">
  <!--<input type="text" placeholder="Please enter your secret key!"/>-->
  <span id="entrar">Entrar</span>

  {{#if votante}}
  <p>Ingresa tu nombre de usuario.<br>(sin espacios y máximo 20 letras)</p>
  <input required type="text" name="user_name" id="user_name" pattern="^[-a-zA-Z0-9_]+$" maxlength="20">
  <input type="submit" value="➡" />
  {{/if}}

  {{#if controlador}}
  {{!-- <span>Retomar sesion o crear session</span>
    <div id="datos_sobre_retomar_sesion">
      <p>no hay sesiones por retomar</p>
      <div>
        <p>retomar session del cliente <span id="nombre_cliente"></span></p>
        <p>fecha de la sesión<span id="fecha_sesion"></span></p>
      </div>
    </div> --}}
  <p>Ingresa el nombre de la sesión, podrías llamarla por ejemplo como el cliente para poder identificarla más
    adelante.<br>
    Escribe un nombre de solo letras, números y máx. 30 letras.</p>
  <input required type="text" name="client_name" pattern="^[-a-zA-Z0-9_ ]+$" maxlength="30" id="client_name">
  <input type="submit" value="➡" />
  {{/if}}
</form>

<div class="reveal blurred">
  <div class="slides">

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/1.jpg" alt="">
      <div class="page" id="page1"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/2.jpg" alt="">
      <div class="page" id="page2"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/3.jpg" alt="">
      <div class="page" id="page3"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/4.jpg" alt="">
      <div class="page" id="page4">
        {{#if empresarial}}
        <video id="SimonSinek" {{video_controls}} playsinline preload="metadata" src="/video/SimonSinek.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="SimonSinek" {{video_controls}} playsinline preload="metadata" src="/video/SimonSinek.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="SimonSinek" {{video_controls}} playsinline preload="metadata" src="/video/SimonSinek.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/5.jpg" alt="">
      <div class="page" id="page5"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/6.jpg" alt="">
      <div class="page" id="page6"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/7.jpg" alt="">
      <div class="page" id="page7">
        {{#if empresarial}}
        <video id="calzatodo" {{video_controls}} playsinline preload="metadata" src="/video/LEGO x Adidas Originals.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="calzatodo" {{video_controls}} playsinline preload="metadata" src="/video/LEGO x Adidas Originals.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="calzatodo" {{video_controls}} playsinline preload="metadata" src="/video/LEGO x Adidas Originals.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/8.jpg" alt="">
      <div class="page" id="page8">
        {{#if empresarial}}
        <video id="Nintendo" {{video_controls}} playsinline preload="metadata" src="/video/Mario Kart Live.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="valor_para_cambiar" {{video_controls}} playsinline preload="metadata" src="/video/El Valor para Cambiar.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="valor_para_cambiar" {{video_controls}} playsinline preload="metadata" src="/video/El Valor para Cambiar.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/9.jpg" alt="">
      <div class="page" id="page9">
        {{#if empresarial}}
        <video id="Netflix" {{video_controls}} playsinline preload="metadata" src="/video/Netflix.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="verdad_muy_incomoda" {{video_controls}} playsinline preload="metadata" src="/video/Una Verdad Muy Incómoda-.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="verdad_muy_incomoda" {{video_controls}} playsinline preload="metadata" src="/video/Una Verdad Muy Incómoda-.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/10.jpg" alt="">
      <div class="page" id="page10">
        {{#if empresarial}}
        <video id="croacia" {{video_controls}} playsinline preload="metadata" src="/video/croacia.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="croacia" {{video_controls}} playsinline preload="metadata" src="/video/croacia.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="croacia" {{video_controls}} playsinline preload="metadata" src="/video/croacia.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/11.jpg" alt="">
      <div class="page" id="page11">
        {{#if politico_d}}
        <video id="trump" {{video_controls}} playsinline preload="metadata" src="/video/TRUMP.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/12.jpg" alt="">
      <div class="page" id="page12">
        {{#if empresarial}}
        <img id="rappi" src="/img/{{subfolder}}/Rappi.png">
        {{/if}}
        {{#if politico_i}}
        <video id="diana" {{video_controls}} playsinline preload="metadata" src="/video/DIANA.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="diana" {{video_controls}} playsinline preload="metadata" src="/video/DIANA.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/13.jpg" alt="">
      <div class="page" id="page13">
        {{#if empresarial}}
        <video id="GoogleMyLine" {{video_controls}} playsinline preload="metadata" src="/video/GoogleMyLine.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="GoogleMyLine" {{video_controls}} playsinline preload="metadata" src="/video/GoogleMyLine.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="GoogleMyLine" {{video_controls}} playsinline preload="metadata" src="/video/GoogleMyLine.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/14.jpg" alt="">
      <div class="page" id="page14">
        {{#if empresarial}}
        <video id="cocacola" {{video_controls}} playsinline preload="metadata" src="/video/cocacola.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="cocacola" {{video_controls}} playsinline preload="metadata" src="/video/COCA COLA.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="cocacola" {{video_controls}} playsinline preload="metadata" src="/video/COCA COLA.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <section>
        <img class="pageBg" src="/img/{{subfolder}}/15.jpg" alt="">
        <div class="page" id="page15">
          {{#if empresarial}}
          <video id="corona" {{video_controls}} playsinline preload="metadata" src="/video/corona.mp4"></video>
          {{/if}}
          {{#if politico_i}}
          <video id="corona" {{video_controls}} playsinline preload="metadata" src="/video/corona.mp4"></video>
          {{/if}}
          {{#if politico_d}}
          <video id="corona" {{video_controls}} playsinline preload="metadata" src="/video/corona.mp4"></video>
          {{/if}}
        </div>
      </section>
      <section>
        <img class="pageBg" src="/img/{{subfolder}}/15.jpg" alt="">
        <div class="page" id="page15">
          {{#if empresarial}}
          <video id="falabella" {{video_controls}} playsinline preload="metadata" src="/video/falabella.mp4"></video>
          {{/if}}
          {{#if politico_i}}
          <video id="sprite" {{video_controls}} playsinline preload="metadata" src="/video/SRPITE.mp4"></video>
          {{/if}}
          {{#if politico_d}}
          <video id="falabella" {{video_controls}} playsinline preload="metadata" src="/video/falabella.mp4"></video>
          {{/if}}
        </div>
      </section>
    </section>


    <section>
      <img class="pageBg" src="/img/{{subfolder}}/16.jpg" alt="">
      <div class="page" id="page16">

      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/17.jpg" alt="">
      <div class="page" id="page17"></div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/18.jpg" alt="">
      <div class="page" id="page18">
        {{#if empresarial}}
        <video id="apple" {{video_controls}} playsinline preload="metadata" src="/video/apple.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="obama" {{video_controls}} playsinline preload="metadata" src="/video/OBAMA.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="obama" {{video_controls}} playsinline preload="metadata" src="/video/OBAMA.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/19.jpg" alt="">
      <div class="page" id="page19">
        {{#if empresarial}}
        <video id="ikea" {{video_controls}} playsinline preload="metadata" src="/video/ikea.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="ikea" {{video_controls}} playsinline preload="metadata" src="/video/ikea.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="ikea" {{video_controls}} playsinline preload="metadata" src="/video/ikea.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <section>
        <img class="pageBg" src="/img/{{subfolder}}/20.jpg" alt="">
        <div class="page" id="page20"></div>
      </section>
      <section>
        <img class="pageBg" src="/img/{{subfolder}}/20-1.jpg" alt="">
        <div class="page" id="page20-1"></div>
      </section>
      <section>
        <img class="pageBg" src="/img/{{subfolder}}/board.jpg" alt="">
        <div class="page" id="page20">

          {{#if controlador}}
          <button id="votacion">Activar Votación</button>
          <button id="save_idea" class="save_btn">Guardar Info</button>
          {{/if}}


          {{#if votante}}
          <form id="creencia">
            <input type="text" id="newIdea" placeholder="Creemos que..." />
            <input type="submit" value="➡" />
          </form>
          {{/if}}

          <div id="ideaHolder" class="placeHolder">


          </div>
        </div>
      </section>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/21.jpg" alt="">
      <div class="page" id="page21">
        {{#if empresarial}}
        <video id="TOMSTV" {{video_controls}} playsinline preload="metadata" src="/video/TOMSTV.mp4"></video>
        {{/if}}
        {{#if politico_i}}
        <video id="TOMSTV" {{video_controls}} playsinline preload="metadata" src="/video/TOMSTV.mp4"></video>
        {{/if}}
        {{#if politico_d}}
        <video id="TOMSTV" {{video_controls}} playsinline preload="metadata" src="/video/TOMSTV.mp4"></video>
        {{/if}}
      </div>
    </section>

    <section>
      <img class="pageBg" src="/img/{{subfolder}}/22.jpg" alt="">
      <div class="page" id="page22"></div>
    </section>

    <section>

      <section>
        <img class="pageBg" src="/img/{{subfolder}}/23.jpg" alt="">
        <div class="page" id="page23"></div>
      </section>

      <section>
        <img class="pageBg" src="/img/{{subfolder}}/24.jpg" alt="">
        <div class="page" id="page24"></div>
      </section>

      <section>
        <img class="pageBg" src="/img/{{subfolder}}/board.jpg" alt="">
        <div class="page" id="page23">

          {{#if controlador}}
          <button id="votacion2">Activar Votación</button>
          <button id="save_purpose" class="save_btn">Guardar Info</button>
          {{/if}}


          {{#if votante}}
          <form id="proposito">
            <input type="text" id="newPurpose" placeholder="Proposito..." />
            <input type="submit" value="➡" />
          </form>
          {{/if}}
          <div id="purposeHolder" class="placeHolder">

          </div>
        </div>
      </section>
    </section>


    <section>
      <img class="pageBg" src="/img/{{subfolder}}/25.jpg" alt="">
      <div class="page" id="page25"></div>
    </section>

  </div>
</div>